        .contact-content {
            background-color: rgba(186, 186, 248, 0.973);
            margin-top: 32px;
            padding: 9px;
            border-radius: 5px;
            position: relative;
            overflow: hidden;
        }
        
        .contact-form {
            height: 38vw;
        }