@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&family=Roboto&display=swap');
:root {
    --main-bg-color: purple;
    --font1: 'Baloo Bhai 2', 'cursive';
    --font2: 'Roboto', sans-serif;
}

.center {
    text-align: center;
}

.font1 {
    font-family: var(--font1);
}

.font2 {
    font-family: var(--font2);
}

.max-width-1 {
    max-width: 80vw;
}

.max-width-2 {
    max-width: 60vw;
}

.m-auto {
    margin: auto;
}

.mx-1 {
    margin-left: 23px;
    margin-right: 23px;
}

.my-2 {
    margin-top: 23px;
    margin-bottom: 32px;
}

.my-10{
    margin-top: 10px;
}

.px-10{
    padding: 10px;
}

.flex-d-column{
    display: flex;
    flex-direction: column;
}

.text-align-r{
    text-align: right;
}

.btn {
    padding: 2px 15px;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    color: white;
    background-color: var(--main-bg-color);
}

.form-input {
    padding: 0px 50px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 0px 6px;
    font-family: var(--font1);
}

.form-box input,
textarea {

    border: 1px solid black;
    border-radius: 6px;

}



.border-l-blue{
    border: 2px solid lightskyblue;
    background-color: lightblue;
    border-radius: 3px;
    padding: 4px;
}

.border-l{
    border: 2px solid #ebca67;
    background-color:  #ebca67;
    border-radius: 4px;
    padding: 4px;
}
.border-l-invert{
    border: 2px solid black;
    background-color: black;
    border-radius: 4px;
    padding: 4px;
}


.c-yellow{
    color: #ebca67;
}